html,
body,
#root {
  height: 100dvh;
}

body {
  margin: 0;
  background: var(--background-light);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}